@media screen and (max-width: 512px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .section{
        height: 100vh;
    }


    /*navigations*/
    .navigation ul{
        display: none;
    }


    /*main*/
    .main-intro-container .intro-contain-right{
        padding-top: 5em;
        padding-bottom: 0;
    }

    .intro-contain-right .image{
        width: 80%;
        height: 60vw;
    }

    .main-intro-container{
        flex-direction: column-reverse;
    }

    .main-intro-container div{
        height: 50vh;
        padding: 2em;
    }

    .intro-contain-left h2{
        display: flex;
        justify-content: left;
        gap: 4px;
    }

    .static-txt{
        white-space: wrap;
    }

    .intro-contain-left .intro-btn{
        padding: 1.5em 0;
    }


    /*about*/
    .sub-about-container{
        height: 100vh;
    }

    .sub-about-container div{
        padding: 2em;
    }


    .top-about-contain {
        display: none;
    }

    .left-about-contain ul {
        font-size: 18px;
    }

    .right-about-contain{
        font-size: 18px
        ;
    }

    .right-about-contain .about-sub{
        width: 100%;
        padding: 1em 1.5em;
    }

    .about-sub ul{
        padding: 0;
    }

    .about-sub ul li{
        padding: 4px 0;
    }


    /*projects*/
    .main-project-container{
        justify-content: space-between;
        height: 125vh;
    }

    .top-project-contain{
        height: 12vh;
    }

    .top-project-contain h1{
        color: #f2f200;
    }

    .bottom-project-contain{
        flex-direction: column;
        gap: 30px;
        padding: 1em;
        height: 90%;
    }

    .bottom-project-contain .prj-contain{
        height: 60vh;
        width: 90%;
        border-radius: 14px;
    }

    .bottom-project-contain .bottom-prj-img{
        padding: 0 1em;
    }

    .bottom-prj-img h1{
        padding-bottom: 0;
    }


    /*contact*/
    .main-contact-container{
        width: 80%;
        height: 80vh;
        padding: 2em 0;
    }

    .heading-contact h1{
        font-size: 1.5em;
        font-family: serif;
    }

    .content-contact{
        padding: 2em;
    }

    .content-contact div{
        height: 15vh;
    }


    /*footer*/
    .footer-begin{
        padding: 1.5em;
    }

    .footer-1{
        width: 40%;
    }

    .footer-1 h2{
        font-size: small;
    }

    .footer-end{
        height: 6vh;
        font-size: small;
    }
}